/*--------------------------------------------------
Pricing Styles
--------------------------------------------------*/

.pricing-area {}

.price-items {}

.price-item {
    text-align: center;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
    .pack-name {
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 2px;
        text-transform: uppercase;
        padding: 40px 0;
    }
    .pack-price {
        background-color: #111111;
        padding: 20px 0;
        font-size: 26px;
        font-weight: 600;
        text-transform: uppercase;
        color: #fff;
    }
    .pack-features {
        margin: 40px 0;
        list-style: none;
        padding: 0;
        li {
            margin-bottom: 10px;
        }
    }
    .pack-btn {
        border-color: #e7e7e7;
        text-transform: uppercase;
        color: #111;
        padding: 12px 45px;
        margin: 10px 0 60px 0;
        @include transition(all 0.3s);
        &:hover {
            background-image: -moz-linear-gradient( 0deg, rgb(245, 29, 70) 0%, rgb(17, 17, 17) 100%);
            background-image: -webkit-linear-gradient( 0deg, rgb(245, 29, 70) 0%, rgb(17, 17, 17) 100%);
            background-image: -ms-linear-gradient( 0deg, rgb(245, 29, 70) 0%, rgb(17, 17, 17) 100%);
            color: #fff;
        }
    }
    &:hover .pack-price,
    {
        background-image: -moz-linear-gradient( 0deg, rgb(245, 29, 70) 0%, rgb(17, 17, 17) 100%);
        background-image: -webkit-linear-gradient( 0deg, rgb(245, 29, 70) 0%, rgb(17, 17, 17) 100%);
        background-image: -ms-linear-gradient( 0deg, rgb(245, 29, 70) 0%, rgb(17, 17, 17) 100%);
    }
}